{% extends "layout.html" %}
{% block content %}
<h1>Language Course</h1>
<pre>Seems like you don't speak good english. It's fine.
I will teach you some easy words in order to get outta here.</pre>
<pre>"shoot"
"dodge"
"tell a joke"
"throw the bomb"
"slowly place the bomb"
"left"
"right"
"laser weapon armory"
"home"
"first drawer"
"second drawer"
"third drawer"
"apples"
"mushrooms"
"unfinished proper meal"
"central corridor"
"island"</pre>
<pre>Remember all these words?
If not, say them out loud again and again
because these words may save your life.</pre>
<p><a href="javascript:history.back()">Go ahead</a><a href=".">Play again</a></p>
{% endblock %}
